<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Style/bootstrap.css" rel="stylesheet" />
    <link href="~/Style/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>@ViewBag.Product.Naam</h1>
        <img src="@ViewBag.Product.Afbeeldingen" />
        @foreach (var item in ViewBag.Specificaties)
        {
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                <p>Kleur: @item.Kleur</p> <br />
                <p>Geheugen: @item.Geheugen</p> <br />
                <p>Bluetooth: @item.Bluetooth</p> <br />
                <p>WiFi: @item.WiFi </p><br />
                <p>3G: @item.DrieG </p><br />
                <p>4G; @item.VierG </p><br />
                <p>Amphere: @item.Amphere </p><br />
                <p>Draadloos: @item.Draadloos </p><br />
                <p>Prijs: @item.Prijs</p><br />
                        </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
