@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
      @foreach (var item in ViewBag.Product)
      {
          Session["ProductID"] = @item.ProductID;
          Session["ProductNaam"] = @item.Naam;
                <div class="container">
                            <div class="row" style="margin-top:20px">
                                <div class="col-sm-10">
                                    <img class="img-responsive" src="@item.Afbeeldingen" alt="">
                                    <h4>@item.Naam</h4>
                                    <span>Kleur: @item.Kleur</span><br />
                                    <span>Bluetooth: @item.Bluetooth</span><br />
                                    <span>Geheugen: @item.Geheugen</span><br />
                                    <span>WiFi: @item.WiFi</span><br />
                                    <span>3G: @item.DrieG</span><br />
                                    <span>4G: @item.VierG</span><br />
                                    <span>Draadloos: @item.Draadloos</span><br />
                                    <span>Voorraad: @item.Aantal</span><br />
                                    <span>Euro: @item.Prijs</span><br />
                                    <div class="wrapper">
                                        <div class="post-meta">
                                            @if (@item.Aantal >= 1)
                                            {
                                            <a href="@Url.Action("Toevoegen", "Product", new { productNaam = @item.Naam, specificatieID = @item.SpecificatieID })">Bestellen</a>
                                            }
                                            else
                                            {
                                                <p>Product is niet meer op voorraad</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        }
                        @using (Html.BeginForm("ReviewPlaatsen", "Product"))
                        {
                            <div class="container">
                                <div class="row">
                                    <h3>Review schrijven</h3>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="widget-area no-padding blank">
                                            @if (Session["GebruikerID"] != null)
                                            {
                                                <form method="post" id="login" class="review-block" role="form" action="@Url.Action("ReviewPlaatsen","Product")">
                                                    <div class="status-upload">
                                                        <input type="text" placeholder="Review schrijven" name="ReviewTekst" /> <br />

                                                        @Html.RadioButton("score", 1, new { id = "1" }) 1
                                                        @Html.RadioButton("score", 2, new { id = "2" }) 2
                                                        @Html.RadioButton("score", 3, new { id = "3" }) 3
                                                        @Html.RadioButton("score", 4, new { id = "4" }) 4
                                                        @Html.RadioButton("score", 5, new { id = "5" }) 5
                                                        <button type="submit" class="btn btn-primary">Plaats</button>
                                                    </div>
                                                </form>
                                            }
                                            else
                                            {
                                                <p>U kunt alleen een review schrijven als u ingelogd bent.</p>
                                            }
                                        </div><!-- Status Upload  -->
                                    </div><!-- Widget Area -->
                                </div>

                            </div>
                        }
                        <div class="container">
                            <div class="row">
                                <br />
                                @foreach (var item in ViewBag.Review)
                        {
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <hr />
                                            <div class="review-block">
                                                <hr />
                                                <hr />
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="review-block-name"><p>@item.KlantNaam</p></div>
                                                        <div class="review-block-date">@item.DatumTijd<br />@item.VerschilDagen dagen geleden</div>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <div class="review-block-rate">
                                                            <h5 class="bold padding-bottom-7">@item.AantalSterren<small>/5</small></h5>
                                                        </div>
                                                        <div class="review-block-description">@item.ReviewTekst</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
</body>
