@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="rating-block">
                    <h4>Average user rating</h4>
                    @foreach (var gemiddeld in ViewBag.Review)
                    {
                        @gemiddeld.GemiddeldeScore = (@gemiddeld.GemiddeldeScore + @gemiddeld.GemiddeldeScore) / @ViewBag.Review.Count
                    <h2 class="bold padding-bottom-7"> @gemiddeld.GemiddeldeScore<small>/ 5</small></h2>
                    }
                </div>
            </div>
            @foreach (var item in ViewBag.Review)
            {
            <div class="row">
                <div class="col-sm-7">
                    <hr />
                    <div class="review-block">
                        <hr />
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="review-block-name"><p>@item.KlantNaam</p></div>
                                <div class="review-block-date">@item.DatumTijd<br />@item.VerschilDagen day ago</div>
                            </div>
                            <div class="col-sm-9">
                                <div class="review-block-rate">
                                    <h5 class="bold padding-bottom-7">@item.AantalSterren<small>/5</small></h5>
                                </div>
                                <div class="review-block-description">@item.ReviewTekst</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        </div>
</body>
