@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Bestellingen)
                    {
                    <tr>
                        <td>@item.BestelregelID</td>
                        <td><a href="@item.Product.Afbeeldingen" target="_blank">@item.Product.Naam</a></td>
                        <td>@item.Gebruiker.Voornaam @item.Gebruiker.Achternaam</td>
                        <td>@item.Gebruiker.Mail</td>
                        <td>@item.DatumTijd</td>
                        <td>@item.Product.Prijs</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

