@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @ViewBag.Error
    @if (ViewBag.Error == null)
    {
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product Naam</th>
                        <th>Naam Koper</th>
                        <th>Email</th>
                        <th>Datum</th>
                        <th>Prijs</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Bestellingen)
                    {
                    <tr>
                        <td><img src="@item.Product.Afbeeldingen" style="width:50px; height:70px;"/>  @item.Product.Naam</td>
                        <td>@item.Gebruiker.Voornaam @item.Gebruiker.Achternaam</td>
                        <td>@item.Gebruiker.Mail</td>
                        <td>@item.DatumTijd</td>
                        <td>@item.Product.Prijs</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    }
</div>

