@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
        @foreach (var item in ViewBag.Telefoons)
        {
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="@item.Afbeeldingen" alt="">
                        <div class="caption">
                            <h4 class="pull-right">@item.Prijs</h4>
                            <h4>
                                <a href="@Url.Action("Product","Product", new { productID = @item.ProductID})">@item.Naam</a>
                            </h4>
                            <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        }

</body>
